@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/yuven-blowria-83csh0z9lrA-unsplash.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.7; /* Adjust the opacity as needed */
}

